.quiqqer-faqAccordion-item-content-pageShort,
.quiqqer-faqAccordion-item-content-pageContent {
    margin-bottom: var(--spacing, 1rem);
}

.quiqqer-faqAccordion-moreButton {
    margin-top: 3rem;
    text-align: center;
}